{% extends 'base.html' %}

{% block head %}
    <title>About - Daily Loss</title>
{% endblock %}

{% block body %}
    <main>
        <h2>About Daily Loss</h2>
        <div id="bio">
            <p>
                As the name implies, this site will have a different loss.jpg image each day. For
                those unfamiliar, here's <a href="https://knowyourmeme.com/memes/loss">a brief
                summary</a> of the meme. (Congratulations, you are one of today's
                <a href="https://xkcd.com/1053/">ten thousand</a>!) I threw everything together over
                just a few days, so I don't have as many loss.jpg images as I would like. If you
                have any, please send them my way (even if you think I've already seen them) via
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOlVg8ktntOWb8yghVVI7hx5Px_DGY_1uor0CGR1ipuJ7CXg/viewform?usp=sf_link">
                this form</a> (also linked in the header).
            </p>
            <p>
                I've had this idea in my back pocket for a while, but I figured I should actually do
                something about it since New Year's is approaching. For anyone that is on the same
                part of the Internet as me, this was partially inspired by Alpharad Gold.
            </p>
            <p>
                Anyways, I wanted to spread this across the Internet as much as I could, so I've
                also made a few bots to cross post these images on a few different social media
                accounts. This site is also:
            </p>
            <ul>
                <li>Discord as <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=1190004024410374224&permissions=2048&scope=bot">Daily Loss Bot#5278</a></li>
                <li>Mastodon as <a target="_blank" href="https://mastodon.social/@dailylossbot">@dailylossbot@mastodon.social</a></li>
                <li>Bluesky as <a href="https://mastodon.social/@dailylossbot">@dailylossbot.bsky.social</a></li>
            </ul>
            <p>
                Lastly, this bot is <a href="https://github.com/lucror1/lossbot">open source</a> on
                GitHub. If anyone has a favorite social media platform (or other medium) that I
                haven't added yet, feel free to make a pull request to add it. Likewise, if you spot
                a bug, typo, whatever, submit the feedback form, open an issue, or use smoke signals
                to let me know so I can fix it.
            </p>
        </div>
    </main>
{% endblock %}