{% extends 'base.html' %}

{% block head %}
    <title>Daily Loss</title>
    <script src="/static/gallery.js"></script>
{% endblock %}

{% block body %}
    <main>
        <h2>{{ date }}</h2>
        {% if running %}
        <img tabindex="0" src="/loss.jpg" width="30%" class="thumbnail" id="daily-loss">
        {% else %}
        <p>Check back on New Years! This site isn't quite ready yet.</p>
        {% endif %}
    </main>
    <section id="modal">
        <div class="modal-content">
            <span id="modal-close" tabindex="0">&times;</span>
            <img>
        </div>
    </section>
    <a hidden rel="me" href="https://mastodon.social/@dailylossbot">Mastodon</a>
{% endblock %}